
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="myApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/app.css" rel="stylesheet" />
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/myApp.js"></script>
</head>
<body ng-controller="usuariosCtrl as ctrl">
    <div class="jumbotron">
        <img src="~/Images/linxlog.jpg" />
        <h3>Lista de Usuário</h3>
        <table class="table table-striped">
            <tr>
                <th>Nome:</th>
                <th>Email:</th>
                <th>Quantidade de horas nominais:</th>
                <th>Quantidade de horas diponiveis:</th>

            </tr>
            <tr ng-repeat="x in ctrl.usuario" | filter>
                <td><input type="radio" name="bt" ng-click="ctrl.SelectUser(x)" /></td>
                <td>{{x.Nome}}</td>
                <td>{{x.Email}}</td>
                <td>{{x.QtdHorasNominais}}</td>
                <td>{{x.QtdHorasDisponiveis}}</td>


            </tr>
        </table>
        <hr />

        <hr>

        <table>
            <tr>
                <td>Nome:                  <input type="text" name="ctrl.newData.Nome" ng-model="ctrl.newData.Nome" required /></td>
                <td>Email:                 <input type="text" name="ctrl.newData.Email" ng-model="ctrl.newData.Email" required /></td>
                <td>Qtd Horas Disponiveis: <input type="text" name="ctrl.newData.QtdHorasDisponiveis" ng-model="ctrl.newData.QtdHorasDisponiveis" required /></td>
                <td>Qtd Horas Nominais:    <input type="text" name="ctrl.newData.QtdHorasNominais" ng-model="ctrl.newData.QtdHorasNominais" required /></td>
                <td><button type="button" class="btn btn-primary" ng-click="ctrl.AddUsuario()">Add</button></td>
                <td><button type="button" class="btn btn-primary" ng-click="ctrl.AlterUser()">Salvar alterações</button></td>
                <td><button type="button" class="btn btn-danger" ng-click="ctrl.DeleteUser()">Excluir</button></td>

            </tr>
        </table>

    </div>
</body>
</html>